{% extends 'layout.html.twig' %}

{% block page_title %}Twttr | Home{% endblock %}

{% block content %}
<div class="container d-flex">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table col-md-6 mt-5" id="twtts">
            {% for twtt in twtts %}
            <tr class="">
                <td class="col-md-6">
                    <div class="media pr-4 pl-4 pt-4 pb-3">
                        {% if twtt.pp_url is not empty %}
                            <img src="{{ twtt.pp_url }}" alt="{{ twtt.author_name}} profile picture" class="align-self-start twtt-thumbnail mr-3 ml-3">
                        {% else %}
                            <img src="../assets/pp/default_pp.png" alt="PP-Pro" class="align-self-start twtt-thumbnail mr-3 ml-3">
                        {% endif %}
                        <div class="media-body">
                            <h5 class="mt-0 d-flex justify-content-between">{{ twtt.author_name }}<span>{{ twtt.date|date("d/m/Y H:i") }}</span></h5>
                            <p>{{twtt.content|nl2br}}</p>
                            <div class="media-footer d-flex justify-content-center">
                                <div class="actions d-flex justify-content-around">
                                    <div class="rtwtt" data-twtt={{ twtt.id }}>{{ twtt.rtwtts }}<i class="fas fa-retweet"></i></div>
                                    <div class="fav" data-twtt={{ twtt.id }}>{{ twtt.favs }}<i class="fas fa-star"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-3"></div>
</div>
<script>
function json(response) {
      return response.json()
}

    $('.rtwtt').click(function () {
        id = this.dataset.twtt;
        var url = 'rtwtt?&id=' + id;
        fetch(url, {
            method: 'post',
            headers: {
              "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: 'rtwtt',
            credentials: 'include'
          })
          .then(json)
          .then(function (data) {
            console.log('Request succeeded with JSON response', data);
          })
          .catch(function (error) {
            console.log('Request failed', error);
          });
    });

    $('.fav').click(function () {
        id = this.dataset.twtt;
        var url = 'fav?&id=' + id;
        fetch(url, {
            method: 'post',
            headers: {
              "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
            body: 'fav',
            credentials: 'include'
          })
          .then(json)
          .then(function (data) {
            console.log('Request succeeded with JSON response', data);
          })
          .catch(function (error) {
            console.log('Request failed', error);
          });
    });
</script>
{% endblock %}
