{% for twtt in twtts %}
<tr class="">
    <td class="col-md-6">
        <div class="media pr-4 pl-4 pt-4 pb-3">
            <a href="/profile/{{twtt.author_name}}">
            {% if twtt.pp_url is not empty %}
                <img src="{{ twtt.pp_url }}" alt="{{ twtt.author_name }} profile picture" class="align-self-start twtt-thumbnail mr-3 ml-3">
            {% else %}
                <img src="/assets/pp/default_pp.png" alt="PP-Pro" class="align-self-start twtt-thumbnail mr-3 ml-3">
            {% endif %}
            </a>
            <div class="media-body position-relative">
                {% if twtt.rt_author_name is not null %}
                <small class="text-muted position-absolute rtwtt-msg">{{ twtt.rt_author_name }} rtwtted :</small>
                {% endif %}
                <h5 class="mt-0 d-flex justify-content-between">
                    <a href="/profile/{{twtt.author_name}}" class="text-dark">{{ twtt.author_name }}</a>
                    <span class="last-date" data-last="{{ twtt.post_time|date("Y-m-d H:i:s") }}">{% if twtt.rt_author_name is not null %}{{ twtt.post_time|date("d/m/Y H:i") }}{% else %}{{ twtt.date|date("d/m/Y H:i") }}{% endif %}</span>
                </h5>
                <p>{{twtt.content|nl2br}}</p>
                <div class="media-footer d-flex justify-content-center">
                    <div class="actions d-flex justify-content-around">
                        <div class="rtwtt {% if twtt.rtwtted == true %}text-success{% endif %}" data-twtt={{ twtt.id }} {% if twtt.original_twtt is not null %} data-original-twtt={{ twtt.original_twtt }}{% endif %}><span class="rt-nbr">{{ twtt.rtwtts }}</span><i class="fas fa-retweet"></i></div>
                        <div class="fav {% if twtt.faved == true %}text-warning{% endif %}" data-twtt={{ twtt.id }}><span class="fav-nbr">{{ twtt.favs }}</span><i class="fas fa-star"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
{% endfor %}